USE [master]
GO
/****** Object:  Database [QLTC]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE DATABASE [QLTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLTC.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLTC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTC]
GO
/****** Object:  Table [dbo].[CT_HANG_MUC_CHI]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HANG_MUC_CHI](
	[MA_CTHM_CHI] [int] NOT NULL,
	[TEN_CTHM_CHI] [nvarchar](30) NULL,
	[GHI_CHU] [nvarchar](30) NULL,
	[MA_HM_CHI] [int] NULL,
 CONSTRAINT [PK_CT_HANG_MUC_CHI_1] PRIMARY KEY CLUSTERED 
(
	[MA_CTHM_CHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_MANHINH]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_MANHINH](
	[MA_MANHINH] [int] NOT NULL,
	[TEN_MANHINH] [char](10) NULL,
 CONSTRAINT [PK_DM_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MA_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG_MUC_CHI]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_MUC_CHI](
	[MA_HM_CHI] [int] NOT NULL,
	[TEN_HM_CHI] [nvarchar](30) NULL,
	[CHUTHICH] [nvarchar](30) NULL,
 CONSTRAINT [PK_HANG_MUC_CHI] PRIMARY KEY CLUSTERED 
(
	[MA_HM_CHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG_MUC_THU]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG_MUC_THU](
	[MA_HM_THU] [int] NOT NULL,
	[TEN_HM_THU] [nvarchar](30) NULL,
	[NOTE] [varchar](30) NULL,
 CONSTRAINT [PK_HANG_MUC_THU] PRIMARY KEY CLUSTERED 
(
	[MA_HM_THU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_TK]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_TK](
	[MA_LOAI_TK] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TK] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_TK] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_CHI]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_CHI](
	[MA_PCHI] [char](10) NOT NULL,
	[MA_CTHM_CHI] [int] NOT NULL,
	[MATK] [char](5) NOT NULL,
	[NGAY_LAP] [datetime] NULL,
	[SO_TIEN] [money] NULL,
	[CHU_THICH] [nvarchar](30) NULL,
	[CHI_CHO_AI] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEU_CHI] PRIMARY KEY CLUSTERED 
(
	[MA_PCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_THU]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_THU](
	[MAPTHU] [char](10) NOT NULL,
	[MA_HM_THU] [int] NOT NULL,
	[MATK] [char](5) NOT NULL,
	[TIEN] [money] NULL,
	[GHICHU] [varchar](100) NULL,
	[THU_TU_AI] [nvarchar](50) NULL,
	[NGAY_LAP] [date] NULL,
 CONSTRAINT [PK_PHIEU_THU] PRIMARY KEY CLUSTERED 
(
	[MAPTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOI_DUNG]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOI_DUNG](
	[MANGUOIDUNG] [char](10) NOT NULL,
	[MATKHAU] [char](15) NULL,
	[HOATDONG] [bit] NULL,
 CONSTRAINT [PK_QL_NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG](
	[MA_NHOM] [char](2) NOT NULL,
	[MANGUOIDUNG] [char](10) NOT NULL,
	[CHI_TIET] [nvarchar](30) NULL,
 CONSTRAINT [PK_QL_NGUOIDUNG_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MA_NHOM] ASC,
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NHOM_ND]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NHOM_ND](
	[MA_NHOM] [char](2) NOT NULL,
	[TEN_NHOM] [char](10) NULL,
	[CHITIET] [nvarchar](30) NULL,
 CONSTRAINT [PK_QL_NHOM_ND] PRIMARY KEY CLUSTERED 
(
	[MA_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_PHANQUYEN]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[MA_NHOM] [char](2) NOT NULL,
	[MA_MANHINH] [int] NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_NHOM] ASC,
	[MA_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MATK] [char](5) NOT NULL,
	[MALOAI] [char](5) NOT NULL,
	[MANGUOIDUNG] [char](10) NOT NULL,
	[TENTK] [nvarchar](50) NULL,
	[SODUBD] [money] NULL,
	[SODUHT] [money] NULL,
	[TRANGTHAI] [bit] NULL,
	[DIENGIAI] [nvarchar](50) NULL,
	[MA_LOAI_TK] [int] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIEN_TE]    Script Date: 11/5/2018 10:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIEN_TE](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [char](5) NULL,
	[TI_GIA] [money] NULL,
 CONSTRAINT [PK_TIEN_TE] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HANG_MUC_CHI] ([MA_CTHM_CHI], [TEN_CTHM_CHI], [GHI_CHU], [MA_HM_CHI]) VALUES (1, N'Ăn tiệm', NULL, 1)
INSERT [dbo].[CT_HANG_MUC_CHI] ([MA_CTHM_CHI], [TEN_CTHM_CHI], [GHI_CHU], [MA_HM_CHI]) VALUES (2, N'Điện thoại cố định', NULL, 3)
INSERT [dbo].[CT_HANG_MUC_CHI] ([MA_CTHM_CHI], [TEN_CTHM_CHI], [GHI_CHU], [MA_HM_CHI]) VALUES (3, N'Điện thoại di động', NULL, 3)
INSERT [dbo].[DM_MANHINH] ([MA_MANHINH], [TEN_MANHINH]) VALUES (1, N'Phieu thu ')
INSERT [dbo].[DM_MANHINH] ([MA_MANHINH], [TEN_MANHINH]) VALUES (2, N'Bao cao   ')
INSERT [dbo].[DM_MANHINH] ([MA_MANHINH], [TEN_MANHINH]) VALUES (3, N'Phieu chi ')
INSERT [dbo].[HANG_MUC_CHI] ([MA_HM_CHI], [TEN_HM_CHI], [CHUTHICH]) VALUES (1, N'Ăn uống', NULL)
INSERT [dbo].[HANG_MUC_CHI] ([MA_HM_CHI], [TEN_HM_CHI], [CHUTHICH]) VALUES (2, N'Con cái', NULL)
INSERT [dbo].[HANG_MUC_CHI] ([MA_HM_CHI], [TEN_HM_CHI], [CHUTHICH]) VALUES (3, N'Dịch vụ sinh hoạt', NULL)
INSERT [dbo].[HANG_MUC_THU] ([MA_HM_THU], [TEN_HM_THU], [NOTE]) VALUES (1, N'Được tặng/cho', NULL)
INSERT [dbo].[HANG_MUC_THU] ([MA_HM_THU], [TEN_HM_THU], [NOTE]) VALUES (2, N'Tiền lương', NULL)
INSERT [dbo].[HANG_MUC_THU] ([MA_HM_THU], [TEN_HM_THU], [NOTE]) VALUES (3, N'Rút ATM', NULL)
SET IDENTITY_INSERT [dbo].[LOAI_TK] ON 

INSERT [dbo].[LOAI_TK] ([MA_LOAI_TK], [TEN_TK]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[LOAI_TK] ([MA_LOAI_TK], [TEN_TK]) VALUES (2, N'Tài khoản ngân hàng')
INSERT [dbo].[LOAI_TK] ([MA_LOAI_TK], [TEN_TK]) VALUES (3, N'Thẻ tín dụng')
SET IDENTITY_INSERT [dbo].[LOAI_TK] OFF
INSERT [dbo].[PHIEU_CHI] ([MA_PCHI], [MA_CTHM_CHI], [MATK], [NGAY_LAP], [SO_TIEN], [CHU_THICH], [CHI_CHO_AI]) VALUES (N'1152442   ', 1, N'1    ', CAST(0x0000A98F00000000 AS DateTime), 0.0000, N'', N'')
INSERT [dbo].[PHIEU_CHI] ([MA_PCHI], [MA_CTHM_CHI], [MATK], [NGAY_LAP], [SO_TIEN], [CHU_THICH], [CHI_CHO_AI]) VALUES (N'1153211   ', 48, N'1    ', CAST(0x0000A99100000000 AS DateTime), 10000.0000, N'', N'')
INSERT [dbo].[PHIEU_CHI] ([MA_PCHI], [MA_CTHM_CHI], [MATK], [NGAY_LAP], [SO_TIEN], [CHU_THICH], [CHI_CHO_AI]) VALUES (N'1154627   ', 1, N'tk 1 ', CAST(0x0000A99500000000 AS DateTime), 1000000.0000, N'', N'')
INSERT [dbo].[PHIEU_THU] ([MAPTHU], [MA_HM_THU], [MATK], [TIEN], [GHICHU], [THU_TU_AI], [NGAY_LAP]) VALUES (N'          ', 1, N'tk 2 ', 1000000.0000, N'', N'', CAST(0xE73E0B00 AS Date))
INSERT [dbo].[PHIEU_THU] ([MAPTHU], [MA_HM_THU], [MATK], [TIEN], [GHICHU], [THU_TU_AI], [NGAY_LAP]) VALUES (N'aaaa      ', 1, N'tk 1 ', 100000.0000, N'', N'', CAST(0xE73E0B00 AS Date))
INSERT [dbo].[PHIEU_THU] ([MAPTHU], [MA_HM_THU], [MATK], [TIEN], [GHICHU], [THU_TU_AI], [NGAY_LAP]) VALUES (N'pt1       ', 4, N'tk2  ', 500000.0000, N'', N'', CAST(0xED3E0B00 AS Date))
INSERT [dbo].[QL_NGUOI_DUNG] ([MANGUOIDUNG], [MATKHAU], [HOATDONG]) VALUES (N'admin     ', N'admin          ', 1)
INSERT [dbo].[QL_NGUOI_DUNG] ([MANGUOIDUNG], [MATKHAU], [HOATDONG]) VALUES (N'duong     ', N'duongduong     ', 1)
INSERT [dbo].[QL_NGUOI_DUNG] ([MANGUOIDUNG], [MATKHAU], [HOATDONG]) VALUES (N'k         ', N'321            ', 1)
INSERT [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] ([MA_NHOM], [MANGUOIDUNG], [CHI_TIET]) VALUES (N'1 ', N'admin     ', NULL)
INSERT [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] ([MA_NHOM], [MANGUOIDUNG], [CHI_TIET]) VALUES (N'2 ', N'duong     ', NULL)
INSERT [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] ([MA_NHOM], [MANGUOIDUNG], [CHI_TIET]) VALUES (N'2 ', N'k         ', NULL)
INSERT [dbo].[QL_NHOM_ND] ([MA_NHOM], [TEN_NHOM], [CHITIET]) VALUES (N'1 ', N'1         ', N'1')
INSERT [dbo].[QL_NHOM_ND] ([MA_NHOM], [TEN_NHOM], [CHITIET]) VALUES (N'2 ', N'nd        ', N'Chỉ một số quyền')
INSERT [dbo].[QL_PHANQUYEN] ([MA_NHOM], [MA_MANHINH], [COQUYEN]) VALUES (N'1 ', 1, 1)
INSERT [dbo].[QL_PHANQUYEN] ([MA_NHOM], [MA_MANHINH], [COQUYEN]) VALUES (N'1 ', 2, 1)
INSERT [dbo].[QL_PHANQUYEN] ([MA_NHOM], [MA_MANHINH], [COQUYEN]) VALUES (N'1 ', 3, 1)
INSERT [dbo].[TAI_KHOAN] ([MATK], [MALOAI], [MANGUOIDUNG], [TENTK], [SODUBD], [SODUHT], [TRANGTHAI], [DIENGIAI], [MA_LOAI_TK]) VALUES (N'1    ', N'VND  ', N'admin     ', N'123456', 500000000.0000, 499990000.0000, 1, N'', 1)
INSERT [dbo].[TAI_KHOAN] ([MATK], [MALOAI], [MANGUOIDUNG], [TENTK], [SODUBD], [SODUHT], [TRANGTHAI], [DIENGIAI], [MA_LOAI_TK]) VALUES (N'tk 1 ', N'VND  ', N'khoa      ', N'tk của khoa', 10000000.0000, -925000.0000, 1, N'', 1)
INSERT [dbo].[TAI_KHOAN] ([MATK], [MALOAI], [MANGUOIDUNG], [TENTK], [SODUBD], [SODUHT], [TRANGTHAI], [DIENGIAI], [MA_LOAI_TK]) VALUES (N'tk 2 ', N'VND  ', N'khoa      ', N'tài khoản 2', 500000.0000, -8550000.0000, 1, N'', 1)
INSERT [dbo].[TIEN_TE] ([MALOAI], [TENLOAI], [TI_GIA]) VALUES (N'CNY  ', N'CNY  ', 3344.0000)
INSERT [dbo].[TIEN_TE] ([MALOAI], [TENLOAI], [TI_GIA]) VALUES (N'JPY  ', N'JPY  ', 207.0000)
INSERT [dbo].[TIEN_TE] ([MALOAI], [TENLOAI], [TI_GIA]) VALUES (N'K    ', N'ti?n ', 1000.0000)
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[PHIEU_CHI]
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[PHIEU_CHI]
(
	[MA_CTHM_CHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[PHIEU_THU]
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[PHIEU_THU]
(
	[MA_HM_THU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QL_NGUOIDUNG_NHOMNGUOIDUNG_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [QL_NGUOIDUNG_NHOMNGUOIDUNG_FK] ON [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]
(
	[MA_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QL_NGUOIDUNG_NHOMNGUOIDUNG2_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [QL_NGUOIDUNG_NHOMNGUOIDUNG2_FK] ON [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QL_PHANQUYEN_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [QL_PHANQUYEN_FK] ON [dbo].[QL_PHANQUYEN]
(
	[MA_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [QL_PHANQUYEN2_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [QL_PHANQUYEN2_FK] ON [dbo].[QL_PHANQUYEN]
(
	[MA_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[TAI_KHOAN]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 11/5/2018 10:05:58 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[TAI_KHOAN]
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HANG_MUC_CHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_HANG_MUC_CHI_HANG_MUC_CHI] FOREIGN KEY([MA_HM_CHI])
REFERENCES [dbo].[HANG_MUC_CHI] ([MA_HM_CHI])
GO
ALTER TABLE [dbo].[CT_HANG_MUC_CHI] CHECK CONSTRAINT [FK_CT_HANG_MUC_CHI_HANG_MUC_CHI]
GO
ALTER TABLE [dbo].[PHIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CH_RELATIONS_TAI_KHOA] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAI_KHOAN] ([MATK])
GO
ALTER TABLE [dbo].[PHIEU_CHI] CHECK CONSTRAINT [FK_PHIEU_CH_RELATIONS_TAI_KHOA]
GO
ALTER TABLE [dbo].[PHIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CHI_CT_HANG_MUC_CHI] FOREIGN KEY([MA_CTHM_CHI])
REFERENCES [dbo].[CT_HANG_MUC_CHI] ([MA_CTHM_CHI])
GO
ALTER TABLE [dbo].[PHIEU_CHI] CHECK CONSTRAINT [FK_PHIEU_CHI_CT_HANG_MUC_CHI]
GO
ALTER TABLE [dbo].[PHIEU_THU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TH_RELATIONS_HANG_MUC] FOREIGN KEY([MA_HM_THU])
REFERENCES [dbo].[HANG_MUC_THU] ([MA_HM_THU])
GO
ALTER TABLE [dbo].[PHIEU_THU] CHECK CONSTRAINT [FK_PHIEU_TH_RELATIONS_HANG_MUC]
GO
ALTER TABLE [dbo].[PHIEU_THU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_TH_RELATIONS_TAI_KHOA] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAI_KHOAN] ([MATK])
GO
ALTER TABLE [dbo].[PHIEU_THU] CHECK CONSTRAINT [FK_PHIEU_TH_RELATIONS_TAI_KHOA]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NGUOI] FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[QL_NGUOI_DUNG] ([MANGUOIDUNG])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NGUOI]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOM_] FOREIGN KEY([MA_NHOM])
REFERENCES [dbo].[QL_NHOM_ND] ([MA_NHOM])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOM_]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_DM_MANHI] FOREIGN KEY([MA_MANHINH])
REFERENCES [dbo].[DM_MANHINH] ([MA_MANHINH])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_DM_MANHI]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOM_] FOREIGN KEY([MA_NHOM])
REFERENCES [dbo].[QL_NHOM_ND] ([MA_NHOM])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOM_]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_QL_NGUOI] FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[QL_NGUOI_DUNG] ([MANGUOIDUNG])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_QL_NGUOI]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_TIEN_TE] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[TIEN_TE] ([MALOAI])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_TIEN_TE]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_LOAI_TK] FOREIGN KEY([MA_LOAI_TK])
REFERENCES [dbo].[LOAI_TK] ([MA_LOAI_TK])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_LOAI_TK]
GO
USE [master]
GO
